.custom-input input, .custom-input textarea, .custom-input select {
    padding: 10px;
    border-radius: 10px;
}
.custom-input select {
    border: none;
    min-width: 250px;
}
.custom-input input:disabled,
.custom-input select:disabled {
    background-color: transparent;
    color: #fff;
}
.custom-input label {
    margin-bottom: 10px;
    min-height: 21px;
}
.custom-input .images__container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.custom-input .images__container .images-item {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    min-height: 55px;
}
.custom-input .images__container .images-item img {
    border-radius: 10px;
}
.custom-input .images__container .images-item .remove__image {
    background-color: #f53d3d;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.custom-input .images__container .images-item .remove__image:hover {
    background-color: #f84848;
}

.custom-input .prefix__container {
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 10px;
}
.custom-input .prefix__container.textarea {

}

.custom-input .prefix__container input,
.custom-input .prefix__container textarea {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.custom-input .prefix__container span {
    padding: 10px;
    color: #fff;
}
.input__row.group__container select{
    color: #000;
}
