.product-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.product-list .product-list__item {
    width: calc(33% - 36px);
    margin-right: 54px;
    margin-bottom: 46px;
}

.product-list .product-list__item:nth-child(3n) {
    margin-right: 0;
}

.product-list .product-list__item img {
    width: 100%;
    margin-bottom: 24px;
}

.product-list .product-list__item h3 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 12px;
    min-height: 60px;
}

.product-list .product-list__item p {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.product-list .see-more {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
}

.product-list .see-more img {
    margin-bottom: 9px;
    width: 54px;
}

.product-list .see-more img.rotate-270 {
    transition: transform 1.6s ease-in-out;
    transform: rotate(270deg);
}

.product-list .see-more img.rotate-ended-270.rotate-360 {
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}


@media (max-width: 767px) {
    .product-list .product-list__item {
        width: calc(50% - 27px);
        margin-bottom: 36px;
    }

    .product-list .product-list__item:nth-child(3n) {
        margin-right: 54px;
    }

    .product-list .product-list__item:nth-child(2n) {
        margin-right: 0;
    }
    .product-list .product-list__item h3{
        font-size: 20px;
        font-weight: 400;
        min-height: 50px;
    }
    .product-list .product-list__item p {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 0;
    }
    .product-list .product-list__item img {
        margin-bottom: 12px;
    }
}

@media (max-width: 550px) {
    .product-list .product-list__item {
        width: 100%;
    }

    .product-list .product-list__item:nth-child(3n),
    .product-list .product-list__item {
        margin-right: 0;
    }

    .product-list .product-list__item h3 {
        min-height: 0;
    }
}
