<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Activate Your Subscription</title>
</head>
<body>
  <p>Hi, <%= email %>,</p>
  <p>Thank you for choosing to subscribe! To complete your subscription, please select your preferred language:</p>

  <ul>
    <li>EN | <a href="<%= activationLink %>/en">English</a></li>
    <li>UK | <a href="<%= activationLink %>/uk">Українська</a></li>
  </ul>

  <p>If you have any questions or need assistance, feel free to contact us.</p>

  <p>Best regards,<br>Shtor Team</p>
</body>
</html>