.banner-img {
    width: calc(100% + 92px);
    margin-left: -46px;
    margin-top: -46px;
}

@media (min-width: 769px) {
    .banner-img {
        min-height: 70vh;
    }
}
@media (max-width: 769px) {
    .banner-img {
        width: calc(100% + 24px);
        margin-left: -12px;
        margin-right: -12px;
    }
}
