.scroller-title {
    font-size: 16px;
    margin: 91px 0 30px 0;
    font-weight: 400;
}

.scroller {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.scroller-items {
    display: flex;
    justify-content: space-between;
}

.product-item {
    text-align: left;
    padding-right: 24px;
    flex: 0 0 auto;
    transition: opacity 0.3s ease-in-out;
    width: calc(25% - 18px);
}

.product-item img {
    width: 100%;
}

.product-item:focus-visible {
    outline: none;
}

@media (max-width: 768px) {
    .product-item {
        width: calc(50% - 18px);
    }
    .scroller-title {
        margin-top: 36px;
        margin-bottom: 24px;
    }
    .progress-bar__container {
        position: relative;
    }
    .progress-bar__container .progress-bar {
        display: block;
        background: black;
        margin: 0 -20px;
        width: calc(12.5% + 40px);
        height: 0.8px;
        position: absolute;
        left: 0;
        transition: .3s;
    }
}
