.products {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.products .product-item {
    width: calc(33% - 36px);
    margin-right: 54px;
    margin-bottom: 46px;
}

.products .product-item:nth-child(3n) {
    margin-right: 0;
}

.products .product-item img {
    width: 100%;
    margin-bottom: 24px;
}

.products .product-item .product-info {
    min-height: 55px;
}

.products .product-item h3 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 12px;
}

.products .product-item p {
    font-size: 18px;
    font-weight: 400;
}

.products .see-more {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
}

.products .see-more img {
    margin-bottom: 9px;
    width: 54px;
}

@media (max-width: 767px) {
    .products .product-item {
        width: calc(50% - 27px);
    }

    .products .product-item:nth-child(3n) {
        margin-right: 54px;
    }

    .products .product-item:nth-child(2n) {
        margin-right: 0;
    }
}

@media (max-width: 550px) {
    .products .product-item {
        width: 100%;
    }

    .products .product-item:nth-child(2n),
    .products .product-item {
        margin-right: 0;
    }

}
